<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<body>
    <header>
        <div id="header-inner">
        <a href="welcome.html" id="logo"></a>
        <nav>
            <a href="#" id="menu-icon"></a>
            <ul>
                <li><a href="welcome.html" class="current">Home</a></li>
                <li><a href="#">Skills</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Our Team</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav> 
        </div>
    </header>

   <section class="banner">
       <div class="bannner-inner">
           <%= image_tag('rocket_design.png') %>
       </div>       
   </section>

<section class="one-fourth" id="html">
    <td>
    <i class="fa fa-html5">
       <h3>HTML</h3>
    </i>
    </td>
</section>
<section class="one-fourth" id="css">
    <td>
    <i class="fa fa-css3"></i>
       <h3>CSS</h3>
        </td>
</section>
<section class="one-fourth" id="search">
    <td>
    <i class="fa fa-search"></i>
       <h3>SEO</h3>
        </td>
</section>
<section class="one-fourth" id="social">
    <td>
    <i class="fa fa-users"></i>
       <h3>SOCIAL</h3>
        </td>
</section>
</body>
</html>
