<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="assets/welcome.scss" rel="stylesheets">
<body>
    <header>
        <div id="header-inner">
        <a href="welcome.html" id="logo"></a>
        <nav>
            <a href="#" id="menu-icon"></a>
            <ul>
                <li><a href="welcome.html" class="current">Home</a></li>
                <li><a href="#">Skills</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Our Team</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav> 
        </div>
    </header>

   <section class="banner">
       <div class="bannner-inner">
           <%= image_tag('header-bg.jpg', draggable: "true", id: "drag1") %>
       </div>       
   </section>

<section class="one-fourth" id="html">
    <td>
    <i class="fa fa-html5">
       <h3>HTML</h3>
    </i>
    </td>
</section>
<section class="one-fourth" id="css">
    <td>
    <i class="fa fa-css3"></i>
       <h3>CSS</h3>
        </td>
</section>
<section class="one-fourth" id="search">
    <td>
    <i class="fa fa-search"></i>
       <h3>SEO</h3>
        </td>
</section>
<section class="one-fourth" id="social">
    <td>
    <i class="fa fa-users"></i>
       <h3>SOCIAL</h3>
        </td>
</section>
<section class='inner-wrapper'>
<article id="tablet">
  <%= image_tag('hand_ipad.png', draggable: "true", id: "drag1") %> 
</article>
<aside id="tablet">
  <h2>MOBILE.TABLET.DESKTOP</h2>
  <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pulvinar vulputate orci eu egestas. Mauris pretium nibh malesuada consequat sollicitudin. Donec risus urna, convallis vel fermentum et, tempus a justo. Praesent nisi nisi, semper eget libero eu, imperdiet malesuada eros. Maecenas facilisis neque tortor. Duis placerat arcu diam, vel convallis velit mollis ut. Fusce convallis tellus a felis efficitur, sed pretium tortor rutrum. Sed quis sapien erat. Aliquam erat volutpat. Quisque egestas ullamcorper arcu, sed feugiat nulla faucibus ut. Maecenas iaculis egestas leo, ac vestibulum mi pellentesque vel. Donec iaculis, mi eget consectetur porta, tellus mi pretium massa, sed posuere sem nisi quis libero. Maecenas id pretium odio. Aliquam erat volutpat. Vivamus sed orci lectus.</P>
</aside>
  
</section>
<section class='inner-wrapper-2'>
<aside id="mobile">
  <%= image_tag('hand_mobile.png', draggable: "true", id: "drag1") %> 
</aside>
<article id="tablet">
  <h2>ACROSS EACH DEVELOPMENT</h2>
  <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pulvinar vulputate orci eu egestas. Mauris pretium nibh malesuada consequat sollicitudin. Donec risus urna, convallis vel fermentum et, tempus a justo. Praesent nisi nisi, semper eget libero eu, imperdiet malesuada eros. Maecenas facilisis neque tortor. Duis placerat arcu diam, vel convallis velit mollis ut. Fusce convallis tellus a felis efficitur, sed pretium tortor rutrum. Sed quis sapien erat. Aliquam erat volutpat. Quisque egestas ullamcorper arcu, sed feugiat nulla faucibus ut. Maecenas iaculis egestas leo, ac vestibulum mi pellentesque vel. Donec iaculis, mi eget consectetur porta, tellus mi pretium massa, sed posuere sem nisi quis libero. Maecenas id pretium odio. Aliquam erat volutpat. Vivamus sed orci lectus.</P>
</article>
  
</section>
<section class='inner-wrapper-3'>
<article id="Desktop">
  <%= image_tag('desktop.png', draggable: "true", id: "drag1") %> 
</article>
<aside id="desktop">
  <h2>DESKTOP VERSION</h2>
  <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pulvinar vulputate orci eu egestas. Mauris pretium nibh malesuada consequat sollicitudin. Donec risus urna, convallis vel fermentum et, tempus a justo. Praesent nisi nisi, semper eget libero eu, imperdiet malesuada eros. Maecenas facilisis neque tortor. Duis placerat arcu diam, vel convallis velit mollis ut. Fusce convallis tellus a felis efficitur, sed pretium tortor rutrum. Sed quis sapien erat. Aliquam erat volutpat. Quisque egestas ullamcorper arcu, sed feugiat nulla faucibus ut. Maecenas iaculis egestas leo, ac vestibulum mi pellentesque vel. Donec iaculis, mi eget consectetur porta, tellus mi pretium massa, sed posuere sem nisi quis libero. Maecenas id pretium odio. Aliquam erat volutpat. Vivamus sed orci lectus.</P>
</aside>
  
</section>


</body>
</html>