<head>
<link rel="stylesheet" type="text/css" href="assets/custom.css">
</head>
<body>
<header><%= render :partial => "welcome/header" %></header>

<section class="header-inner">
	
<div class="menu">

    	 <ul class="menu-bar">
    	 <li class"active"><a href="#">Dashboard</a></li>
    	 <li><a href="#">Human Resource</a></li>
    	 <li><a href="#">Attendance</a></li>
    	 <li><a href="#">Academic</a></li>
    	 <li><a href="#">Holidays</a></li>	
    	 </ul>
 
</div>
</section>
</body>
