<!DOCTYPE html>
<html>
<head>

<style>
*{
  margin: 0%;
  padding:0%;
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans';
  margin:0;
  padding:0;
  
}
a{
  text-decoration: none;
}
.logo{
  float:left;
  margin-top:15px;
  margin-left:15px;
}
.logo a{
  font-size: 1.6em;
  color:#fff;
  font-weight:900;
}
.logo a span{
  font-weight: 100;
}
#header{
  width:100%;
  height:60px;
  background-color: #2c3e50;
  margin:0 auto;
}
#container {
  width:100%;
  margin: 0 auto;
}
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #171717;
  float:left;
}
.nav li{
  list-style-type: none;
  text-align: left;
}
.nav li a{
  color:#fff;
  display:block;
  padding:15px;
  font-size:1.1em;
}
.nav li a:hover{
  background-color: #00a65a;
  color: #fff;
  padding-left:30px;
  border-left:solid 4px #fff;
}
.nav li a.active{
  background-color: #00a65a;
  color:#fff;
  border-left:solid 4px #fff;
}
.content{
  width: auto;
  margin-left:250px;
  height:100vh;
  background-color: #95a5a6;
  padding:15px;
}
#content p{
  color: #424242;
}
#box{
margin-top: 15px;
}
#box .box-top {
   color:#fff;
   text-shadow: 0px 1px #000;
   background-color: #2980b9;
   padding:5px;
   font-weight:300;
   padding-left:15px;
}
.box-panel{
    padding: 15px;
    background-color:#fff;
    color:#ddd;    
}
</style>
</head>
<body>
<div id="header">
<div class="logo"><a href="#">App<span>Source</span></a></div>
</div>
<div id="container">
    <div class="sidebar">
    <ul class="nav">
        <li><a class="active" href="#"><i class="fa fa-home fa-spin fa-fw"></i>&nbsp;Dashboard</a></li>
        <li><a href="#"><i class="fa fa-home fa-spin fa-fw"></i>&nbsp;Charts</a></li>
        <li><a href="#"><i class="fa fa-book fa-spin fa-fw"></i>&nbsp;Booter</a></li>
        <li><a href="#"><i class="fa fa-pencil fa-spin fa-fw"></i>&nbsp;Friends</a></li>
        <li><a href="#"><i class="fa fa-cog fa-spin fa-fw"></i>&nbsp;Human Resource</a></li>
        <li><a href="#"><i class="fa fa-spinner fa-spin fa-fw"></i>&nbsp;Search</a></li>
        <li><a href="#"><i class="fa fa-home fa-spin fa-fw"></i>&nbsp;Purchase</a></li>
    </ul>


    </div>
    <div class="content">
        <h1>Dashboard</h1>
        <div id="box">
           <div class="box-top">News</div>
           <div class="box-panel">this is simple news</div>

    </div>
</div>
</body>
</html>